* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
header {
  padding: 1%;
  border-bottom: 1px solid gray;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6b81;
}

header a:hover {
  color: #ff4757;
}

.main-content {
  padding: 3%;
  background-color: #f1f2f6;
}

.main-content__main-div {
  display: flex;
  justify-content: space-evenly;
}

.col-4 {
  width: 15%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  text-align: center;
}

footer {
  padding: 1%;
  background-color: #ff4757;
  color: white;
  text-align: center;
}
